.VoteItem_Divider {
    background: black;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    height: 1px;
}

.VoteItem_ItemDiv {
    margin-left: 3%;
}

.ButtonDIV {
    margin-bottom: 3%;
}

.VoteItem_UpdateBtn {
	margin-right: 2%;
}

.VoteItem_Change2Sche {
	margin-right: 2%;
}

.VoteItem_DeleteBtn {
	margin-right: 2%;
}

.VoteItem_BackBtn {
}
